<!--partial for heading/title of article show; used by front and back-->
<h2>
  <%= @article.title %>
  <% if logged_in? %>
    <%= link_to "Edit", edit_admin_article_path(@article), :class=>"small" %>
		<%= link_to "<<", admin_articles_path, :class=>"small" %>
  <% end %>
</h2>
<%= @article.author %><br>
<%= @article.date %>