<!--articles/article_preview_top partial; for #1 article; requires variable "article"-->
<div id="article_preview_top">
	<div id="article_header_top">
	  <%= link_to article.title, article, :id => "article_title_top" %><br>
		<span id="article_author_top">by <%= article.author %></span>
	</div>

	<div id="article_image_top">
		<%= link_to ( image_tag article.photo.url(:medium), :id => "article_image_top" ), article %>
	</div>

	<div id="article_teaser_top">
		<%= article.teaser %>
	</div>

	<div id="article_beginning">
    The beginning of the article is here.<br>
    <%= article.body[0..150] %>...
	</div>
</div>

