<!--for #1 article; requires variable "article"-->
<div id="large_article_preview" class="my_border">
	<div id="article_header_top">
	  <%= link_to article.title, article, :id => "article_title_top" %><br>
		<span id="article_author_top">by <%= article.author %></span>
	</div>

	<div id="article_image_top">
		<%= link_to ( image_tag article.photo.url(:large), :class => "article_image" ), article %>
	</div>

	<div id="article_teaser_top">
		<%= article.teaser %>
	</div>

	<div id="article_beginning">
    <%= simple_format article.body[0..500]+"..." %><%= render :partial => "articles/partials/read_more_link", :locals=>{ :article => article } %>
	</div>
</div>

