<!--common one; requires variable "article"-->
<div class="medium_preview my_border">
	<div class="article_header">
	  <%= link_to article.title, article, :id => "article_title_medium" %><br>
		<span class="article_author">by <%= article.author %></span>
	</div>

	<div class="article_image">
		<%= link_to ( image_tag article.photo.url(:medium), :class => "right article_image" ), article %>
	</div>

	<div class="article_teaser">
		<%= article.teaser %>
	</div>
	
	<div id="article_beginning">
    The beginning of the article is here.<br>
    <%= simple_format article.body[0..200]+"..." %><%= render :partial => "articles/partials/read_more_link", :locals=>{ :article => article } %>
	</div>
</div>