<!--for the contents of each article in the list shown in index; needs 'article' variable-->
<li class="article_position">#</li>
<li class="article_title"><%= article.title  %></li>
<li class="article_author"><%= article.author %></li>
<li class="article_section"><%= article.section.name %></li>
<li class="article_date">Date here</li>

<li class="article_controls">
	<%= link_to 'Show', admin_article_path(article) %> | 
	<%= link_to 'Edit', edit_admin_article_path(article) %>
</li>
