<!--a partial for each article in the list shown in index-->
<div class="article_item">
	<div class="article_header">
		<span class="article_title"><%= article.title %></span><br>
		<span class="article_author">by <%= article.author %></span>
	</div>
	
	<div class="article_image">
		<%= image_tag article.photo.url(:thumb), :class=>"article_image" %>
	</div>
	
	<div class="article_teaser">
		<%= article.teaser %>
	</div>
	
	<div class="article_item_controls">
		<%= link_to 'Edit', edit_admin_article_path(article) %> | 
		<%= link_to 'View', admin_article_path(article) %>
	</div>
</div>
<br/>
