<!--For each row in index; needs 'article' variable-->
<li class="article_position"><%= article.position %></li>
<li class="article_title"><%= article.title  %></li>
<li class="article_author"><%= article.author %></li>
<li class="article_section"><%= article.section.name %></li>
<li class="article_date"><%= article.date %></li>

<li class="article_controls">
	<%= render :partial => "article_controls", :locals => { :article => article } %>
</li>

