<!--assumes article and button_value variables-->
<%= form_for [:admin, article], :html=>{ :multipart => true } do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %><br><br>
		<%= f.label :author %>
		<%= f.text_field :author %><br>
		<%= f.label :date %>
		<%= f.date_select :date %>
	</p>

	<label>Section this article belongs to: </label>
	<%= collection_select :article, :section_id, Section.all, :id, :name, { :prompt => "[Select section]" } %>

  <p>
    <%= f.label :teaser %>
    <%= f.text_field :teaser %>
  </p>
	<p>
		<%= f.label :body %><br>
		<%= f.text_area :body %>
	</p>
	<p>
		<label>Upload photo: </label>
		<%= f.file_field :photo %>
		<%= image_tag article.photo.url(:thumb), :class=>"article_image" %>
	</p>
	<br>
	<p>
		<%= f.submit button_value %>
	</p>
<% end %>

