<!--admin/section/edit-->
<h3>Edit Section: <%= @section.name %></h3>

<div id="section_edit">
  <%= form_for [:admin, @section] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <% end %>
</div>

<p>If you want more functionality, contact the jdrampage application developer.</p>

<div id="directions">
	<%= link_to "<< Back", admin_section_path(@section) %>
</div>

