<!--admin/section/edit-->
<h3>Edit Section: <%= @section.name %></h3>

<div id="section_edit">
  <%= form_for [:admin, @section] do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name, :disabled => true %>
		<%= f.submit "Update", :disabled => true %>
  <% end %>
</div>
<p>Section names should not be altered. Doing so will cause issues with free spaces.</p>
<p>If you want more functionality, contact the jdrampage application developer.</p>

<div id="directions">
	<%= link_to "<< Back", admin_section_path(@section) %>
</div>