<!--static#admin_home - the back's home page-->
<div id="back_home">
  <h3>Welcome, <%= current_user.full_name %>.</h3>
	<div>
		<p>
			<b>Site details as of <%= Time.now.strftime("%B %d, %Y, at %I:%M %p") %> (GMT):</b>
		</p>
		<p>
			Number of articles: <%= Article.count %><br>
			Number of subscribers: <%= Subscriber.count %><br>
		</p>
	</div>
	<div>
		<p>
			<h3>Controls</h3>
		</p>
		<p>
			<%= link_to "New Article", new_admin_article_path, :class => "huge_button" %>
			<%= link_to "My Account", [:edit, :admin, current_user], :class => "huge_button" %>
		</p>
	</div>
</div>

