<!--static#home - the home page-->
<div id="front_page">
	<%= render :partial => "articles/partials/article_preview_top", :locals => { :article => @articles[0] } %>
	<% @articles[1..-1].each_with_index do |article, index| %> <!--modify-->
	  <% if index % 2 == 0 %>
		  <%= render :partial => "articles/partials/article_preview", :locals => { :article => article } %>
		<% else %>
  		<%= render :partial => "articles/partials/article_preview", :locals => { :article => article }, :class => "right" %>
		<% end %>
	<% end %>
</div>

<% content_for :left_sidebar do %>
	<%= show_free_space_if_active('HomeLeftSidebar') %>
	<hr>
<% end %>

<% content_for :right_sidebar do %>
	<%= show_free_space_if_active('HomeRightSidebar') %>
	<hr>
<% end %>

