<!--subscribers/new-->
<div id="subscriber_new">
  <h2 id='title'>Stay in touch with J-D RamPage.</h2>
  <p>
    Whenever we have a major release of articles (typically once a month during the school year), you'll get a friendly email.
    You may always unsubscribe* if you truly want to.
  </p>
  <%= form_for @subscriber do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit 'Subscribe!' %>
  <% end %>
  <br><br><br>
  <p class="small">
    *To unsubscribe, email the RamPage advisor listed on the <%= link_to "staff page", staff_path %>
    with the email account that you want to unsubscribe.
    Clearly state in the body or subject of the email that you want to unsubscribe that email account.
  </p>
</div>

