<!--admin/users/index-->
<div id="users_index">
	<% if can? :create, User %>
	<div id="user_new_area">
		<%= link_to "New User", new_admin_user_path, :class => "button right" %>
	</div>
	<% end %>

  <h3>All Users</h3>

  <ul id="user_list">
	  <li>
		  <ul id="user_list_headers">
			  <li class="user_login">Login</li>
		    <li class="user_full_name">Name</li>
				<li class="user_role">Role</li>
			  <li class="user_controls">Controls</li>
		  </ul>
	  </li>
	  <% @users.each do |user| %>
		  <%= content_tag_for :li, user do %>
		    <% if current_user.role == 'superadmin' %>
		      <ul class="items_within_user">
			      <li class="user_login"><%= truncate user.login, :length => 10 %></li>
			      <li class="user_full_name"><%= truncate user.full_name, :length => 20 %></li>
					  <li class="user_role"><%= user.role %></li>
			      <li class="user_controls">
						  <%= link_to 'Edit', edit_admin_user_path(user), :class => 'button_like' %>
						  <%= link_to 'Delete', [:admin, user], :class=>'button_like', :method=>:delete, :confirm=>"Are you sure?" %>
			      </li>
			    </ul>
		    <% else %>
		      <% if user.role == 'superadmin' %>
		        <!--show nothing-->
		      <% else %>
			    <ul class="items_within_user">
			      <li class="user_login"><%= truncate user.login, :length => 10 %></li>
			      <li class="user_full_name"><%= truncate user.full_name, :length => 20 %></li>
					  <li class="user_role"><%= user.role %></li>
			      <li class="user_controls">
					  <% if current_user.role == 'admin' %>
							  <%= link_to 'Edit', edit_admin_user_path(user), :class => 'button_like' %>
							  <%= link_to 'Delete', [:admin, user], :class=>'button_like', :method=>:delete, :confirm=>"Are you sure?" %>
					  <% else %><!--moderator or poster-->
						  <% if user.login == current_user.login %>
							  <%= link_to 'Edit', edit_admin_user_path(user), :class => 'button_like' %>
						  <% else %>
							  <i>no controls</i>
						  <% end %>
					  <% end %>
			      </li>
			    </ul>
			    <% end %>
		    <% end %><!--end if-->

		  <% end %><!--end content tag-->
	  <% end %>
  </ul>
</div>

