<!--admin/users/index-->
<div id="users_index">
  <h3>All Users</h3>
	<% if can? :create, User %>
	<div id="user_new_area">
		<%= link_to "New User", new_admin_user_path, :class => "button right" %>
	</div>
	<% end %>
	
  <ul id="user_list">
	  <li>
		  <ul id="user_list_headers">
			  <li class="user_login">Login</li>
		    <li class="user_full_name">Name</li>
				<li class="user_role">Role</li>
			  <li class="user_controls">Controls</li>
		  </ul>
	  </li>
	  <% @users.each do |user| %>
		  <%= content_tag_for :li, user do %>
			  <ul class="items_within_user">
			    <li class="user_login"><%= user.login %></li>
			    <li class="user_full_name"><%= user.full_name[0..19] %></li>
					<li class="user_role"><%= user.role %></li>
			    <li class="user_controls">
					<% if current_user.role == 'superadmin' %>
						<%= link_to 'Edit', edit_admin_user_path(user), :class => 'button_like' %>
					<% elsif current_user.role == 'admin' %>
						<% unless user.role == 'superadmin' %>
							<%= link_to 'Edit', edit_admin_user_path(user), :class => 'button_like' %>
						<% else %>
							<i>no controls</i>
						<% end %>
					<% else %><!--moderator or poster-->
						<% if user.login == current_user.login %>
							<%= link_to 'Edit', edit_admin_user_path(user), :class => 'button_like' %>
						<% else %>
							<i>no controls</i>
						<% end %>
					<% end %>
			    </li>
			  </ul>
		  <% end %>
	  <% end %>
  </ul>

</div>