<!DOCTYPE html>
<html>
<head>
  <title>JD RamPage - The Jamesville-DeWitt High School Student Newspaper</title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
	<!--[if IE]><%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %><![endif]-->
	<%= stylesheet_link_tag 'scaffold','admin','global','articles','sections','pages','users','subscribers','free_spaces' %>
	<%= javascript_include_tag "jquery-1.4.2.min.js","jquery-ui-1.8.4.custom.min.js" %>
	<%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %> <!-- prevents cross-site request forgery -->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<%= favicon_link_tag %> <!--ensures correct favicon is used-->
	<!--Start Google Analytics-->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-11198579-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<!--End Google Analytics-->
</head>
<body>
<div id="header">
	<%= link_to "RamPage", '/', :id => 'top_text' %>
	<div id="top_subtext">Administrator Side</div>
	<ul id="section_header_list">
		<% for section in Section.all %>
			<li class="section_item"><%= link_to section.name, admin_section_path(section) %></li>
		<% end %>
	</ul>
	<%= link_to 'Articles', admin_articles_path %> |
	<% if can? :manage, Section %><%= link_to 'Sections', admin_sections_path %> |<% end %>
	<% if can? :manage, Page %><%= link_to 'Pages', admin_pages_path %> |<% end %>
	<% if can? :manage, FreeSpace %><%= link_to 'Free Spaces', admin_free_spaces_path %> |<% end %>
	<% if can? :manage, Subscriber %><%= link_to 'Subscribers', admin_subscribers_path %> |<% end %>
	<%= link_to 'Users', admin_users_path %>

	<div id="login_area">
		Logged in as <b><%= current_user.full_name %></b> |
		<%= link_to 'The Back', admin_path, :style => "font-weight:bold" %> |
		<%= link_to 'The Front', root_path %> |
		<%= link_to 'Logout', logout_path %>
	</div>
</div>
<hr>
<div class="container" id="main">
	<div id="flashes">
		<% if flash[:notice] %>
			<div id='notice'><%= flash[:notice] %></div>
		<% end %>
	</div>

	<div class="span-24 last">
		<%= yield %>
	</div>
</div>

<hr>

<div id="footer">
	<%= render :partial => "layouts/footer_row" %>
</div>

</body>
</html>

